body {
	font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background: white;
	color: black; }

a {
	color: black;
	text-decoration: underline; }

h1, h2, h3, h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: normal; }

p {
	margin: 0 0 20px 0px; }

h1 {
	font-size: 36px; }

h2 {
	font-size: 26px; }

h3 {
	font-size: 24px; }

h4 {
	font-size: 22px; }

.clear {
	clear: both; }

#header {
	padding: 50px; }

	.me {
		text-align: right;
		float: right; }

.content {
	padding: 50px; }

.code {
	color: white;
	background: #000;
	padding: 50px; }

th {
	text-align: left;
}